<div class="mx-auto max-w-2xl px-4 py-10 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8 bg-gray-100">
    <div class="p-6 text-center">
        <h1 class=" text-2xl font-bold">Lista de los productos comprados!</h1>
        <h3>ID de la compra: {{purchaseCode}}</h3>
        <h3>Comprador: {{purchaseBuyer}}</h3>
    </div>
    <div class="mx-auto max-w-5xl justify-center px-6 md:flex md:space-x-6 xl:px-0">
        <div class="rounded-lg md:w-2/3">
            {{#each purchaseProducts}}
            <div class="justify-between mb-6 rounded-lg bg-white p-6 shadow-md sm:flex sm:justify-start">
                {{!-- <img src="{{this.thumbnail}}" alt="{{this.title}}"
                    class="w-full h-40 lg:w-50 rounded-lg sm:w-40" /> --}}
                <div class="sm:ml-4 sm:flex sm:w-full sm:justify-between">
                    <div class="mt-5 sm:mt-0">
                        <h2 class="text-lg font-bold text-gray-900">{{this.product}}</h2>
                        {{!-- <p class="mt-1 text-xs text-gray-700">{{this._id}}</p> --}}
                    </div>
                    <div class="mt-4 flex justify-between sm:space-y-6 sm:mt-0 sm:block sm:space-x-6">
                        <div class="flex items-center border-gray-100">

                            <input class="h-8 w-8 border bg-white text-center text-xs outline-none" type="number"
                                value="{{this.quantity}}" />

                        </div>
                        <div class="flex items-center space-x-4">
                            <p class="text-sm">{{this.price}} $</p>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="h-5 w-5 cursor-pointer duration-150 hover:text-red-500">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <!-- Sub total -->
        <div class="mt-6 h-full rounded-lg border bg-white p-6 shadow-md md:mt-0 md:w-1/3">
            <div class="mb-2 flex justify-between">
                <p class="text-gray-700">Subtotal</p>
                <p class="text-gray-700">${{purchaseSubTotal}}</p>
            </div>
            <div class="flex justify-between">
                <p class="text-gray-700">Envío</p>
                <p class="text-gray-700">$4.99</p>
            </div>
            <hr class="my-4" />
            <div class="flex justify-between">
                <p class="text-lg font-bold">Total</p>
                <div class="">
                    <p class="mb-1 text-lg font-bold">${{purchaseAmount}} USD</p>
                    <p class="text-sm text-gray-700">including VAT</p>
                </div>
            </div>
            {{!-- <button class="mt-6 w-full rounded-md bg-blue-500 py-1.5 font-medium text-blue-50 hover:bg-blue-600">
                <a href="/api/carts/{{cartId}}/purchase">Checkout</a>
            </button> --}}
        </div>

    </div>
    <a href="http://localhost:8080/"><button
            class="sm:w-full lg:w-auto my-2 border rounded md py-4 px-8 text-center bg-indigo-600 text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-700 focus:ring-opacity-50">Volver
            al inicio</button>
    </a>
</div>